header{
    background-color: rgb(255, 0, 0);
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

h1{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 150; 
    text-align: center;
    text-decoration: underline;
}

.caja2{
    max-width: 450px;
    margin: 0 auto;
}

.colores1{
    color:red;
}

.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
text-align: center;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 2; 
}

.div2 { 
    grid-area: 1 / 2 / 3 / 3; 
}

.div3 { 
    grid-area: 1 / 3 / 3 / 4; 
}

.div4 { 
    grid-area: 1 / 4 / 3 / 5; 
}

.div1 img{
    width: 100%;
}

.div2 img{
    width: 100%;
}

.div3 img{
    width: 100%;
}

.div4 img{
    width: 100%;
}

.caja {
    background-color: rgb(212, 51, 51);
    width: 300px;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.contenedor_limite{
    background-color: rgb(255, 91, 91);
    text-align: center;
}

.contenedor_limite img{
    max-width: 100%;
}

.contenedor_limite1{
    text-align: center;
    margin: 0 auto;
}

.contenedor_padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer{
    background-color: red;
}

@media screen and (max-width: 400px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul{
        flex-direction: column;
    }
}

a:hover{
    color: rgb(25, 0, 255);
}